{% extends 'base.html' %}
{% load static %}
{% load permission_tags %}

{% block 'title' %}Home{% endblock 'title' %}

{% block 'body' %}

{% if messages %}
    {% for message in messages  %}
        <div class="alert {{message.tags}} alert-dismissible fade show" role="alert">
            <i class="mdi mdi-check-all me-2"></i>
            {{message}}
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
    {% endfor %}
{% endif %}

<div class="row">
    <div class="col-xl-4">
        <div class="card">
            <div class="card-body">
                <div class="">
                    <div class="d-flex justify-content-end">
                        <div class="dropdown">
                            <button class="btn dropdown-toggle text-muted fs-5" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                                <!--<i class="mdi mdi-dots-vertical"></i>-->
                            </button>
                            <ul class="dropdown-menu">
                                <li><a class="dropdown-item" href="#">Action</a></li>
                                <li><a class="dropdown-item" href="#">Another action</a></li>
                                <li><a class="dropdown-item" href="#">Something else here</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="mt-n4 position-relative">
                    <div class="text-center">
                        {% if user.foto %}
                            <img src="{{ user.foto.url }}" alt="" class="avatar-xl rounded-circle img-thumbnail">
                        {% else %}
                            <img src="{% static 'img/perfil.png' %}" alt="" class="avatar-xl rounded-circle img-thumbnail">
                        {% endif %}
                         
                        <div class="mt-3">
                            <h5 class="">
                                {{ user.first_name }}
                                {% if user.is_staff %}
                                    <i class="mdi mdi-check-decagram text-primary"></i>
                                {% endif %}
                                {% if user|has_role:'coordenadores' %}
                                    <i class="mdi mdi-check-decagram text-warning"></i>
                                {% endif %}
                            </h5>
                            <div>
                                <a href="#" class="text-muted m-1">@{{ user.username }}</a>
                            </div>
                            <div>
                                <a href="#" class="text-muted m-1">{{user.get_funcao_display}}</a>
                            </div>
                            <div>
                                <a href="#" class="text-muted m-1">{{user.municipio.municipio_uf}}</a>
                            </div>
    
                            <div class="mt-3">
                                <a href="{% url 'minhas_avaliacoes' %}" class="btn btn-outline-primary waves-effect waves-light btn-sm">Minhas Avaliações ({{avaliacoes_respondidas}})</a>
                                {% if user.funcao == 'T' %}
                                <a href="{% url 'minhas_validacoes' %}" class="btn btn-outline-info waves-effect waves-light btn-sm">Minhas Validações ({{validacoes_respondidas}})</a>
                                {% endif %}
                            </div>
                        </div>
    
                    </div>
                </div>
    
                <div class="p-3 mt-3">
                    <div class="row text-center">
                        <!--<div class="col-6 border-end">
                            <div class="p-1">
                                <h5 class="mb-1">1,269</h5>
                                <p class="text-muted mb-0">Products</p>
                            </div>
                        </div>-->

                    </div>
                </div>
            </div> <!-- end card body -->
        </div> <!-- end card -->
    </div> <!-- end col -->

    <div class="col-xl-8">
        <div class="row">
            <div class="col-md-6">
                <div class="card">
                    <div class="card-body">
                        <div class="d-flex">
                            <div class="flex-grow-1">
                                <p class="text-truncate font-size-14 mb-2">Usuários Participantes</p>
                                <h4 class="mb-2">{{total_usuarios}}</h4>
                            </div>
                            <div class="avatar-sm">
                                <span class="avatar-title bg-light text-primary rounded-3">
                                    <i class="ri-user-3-line font-size-24"></i>  
                                </span>
                            </div>
                        </div>                                              
                    </div><!-- end cardbody -->
                </div><!-- end card -->
            </div>
            
            <div class="col-md-6">
                <div class="card">
                    <div class="card-body">
                        <div class="d-flex">
                            <div class="flex-grow-1">
                                <p class="text-truncate font-size-14 mb-2">Questionários Recebidos</p>
                                <h4 class="mb-2">{{ avaliacoes_recebidas }}</h4>
                            </div>
                            <div class="avatar-sm">
                                <span class="avatar-title bg-light text-primary rounded-3">
                                    <i class="ri-file-copy-2-line font-size-24"></i>  
                                </span>
                            </div>
                        </div>                                              
                    </div><!-- end cardbody -->
                </div><!-- end card -->
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                <div class="row align-items-center">
                    <div class="col">
                        <h4 class="my-3"> Projetos Disponíveis </h4>
                    </div>
                    <div class="col-auto">
                        <a href="{% url 'projetos_disponiveis' %}"> Ver todos</a>
                    </div>
                </div>
        
                {% for a in avaliacoes  %}
        
                <div class="card">
                    <h5 class="card-header">{{a.grupo}}</h5>
                    <div class="card-body">
                        <h4 class="card-title">{{a.titulo}} </h4>
                        <p class="card-text">{{a.descricao}}</p>
                        <a href="{% url 'add_questionario' a.id %}" class="btn-lg btn-primary waves-effect waves-light">
                            Avaliar agora <i class="ri-arrow-right-line align-middle ms-2"></i> </a>
                    </div>
                    <div class="card-footer text-muted">
                        <span class="badge badge-soft-primary font-size-15">{{a.ano_exercicio}}</span>
                        | Início: {{a.data_inicial|date:'d/m/Y'}} | Fim: {{a.data_final|date:'d/m/Y'}}
                    </div>
                </div>
        
                {% endfor %}
        
            </div> <!-- end col -->
        </div>
    </div>
</div>



<div class="row">
    <div class="col-xl-12">
        <div class="card">
            <div class="card-body">

                <h4 class="card-title mb-4">Últimos Questionários Recebidos</h4>
                
                {% if questionarios %}
                <div class="table-responsive">
                    <table class="table table-centered mb-0 align-middle table-hover table-nowrap">
                        <thead class="table-light">
                            <tr>
                                <th>ID</th>
                                <th>Exercício</th>
                                <th>Unidade Gestora</th>
                                <th>Data Envio</th>
                            </tr>
                        </thead><!-- end thead -->
                        <tbody>
                            {% for q in questionarios  %}
                            <tr>
                                <td>{{ q.id }}/{{ q.avaliacao.ano_exercicio}}</td>
                                <td>{{ q.avaliacao.ano_exercicio }}</td>
                                <td>
                                    <h6 class="mb-0">{{ q.entidade }}</h6>
                                    <footer class="blockquote-footer font-size-12 m-0">{{ q.avaliacao }}</footer>
                                </td>
                                <td>{{ q.created_at|date:'d/m/Y H:i' }}</td>
                            </tr>
                             <!-- end -->
                             {% endfor %}
                        </tbody><!-- end tbody -->
                    </table> <!-- end table -->
                </div>
                {% else %}
                <div class="alert alert-primary" role="alert">
                    Nenhuma avaliação recebida até o momento.
                </div>
                {% endif %}
            </div><!-- end card -->
        </div><!-- end card -->
    </div>
    <!-- end col -->
</div>

{% endblock %}