{% load i18n static %}

<!doctype html>
<html lang="en">

    <head>
        
        <meta charset="utf-8" />
        <title>Nova Senha | PNTP</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta content="Sistema de Avaliação de Portais Transparência." name="description" />
        <meta content="William Gomes" name="author" />
        <!-- App favicon -->
        <link rel="shortcut icon" href="{% static 'assets/images/favicon.ico' %}">

        <!-- Bootstrap Css -->
        <link href="{% static 'assets/css/bootstrap.min.css' %}" id="bootstrap-style" rel="stylesheet" type="text/css" />
        <!-- Icons Css -->
        <link href="{% static 'assets/css/icons.min.css' %}" rel="stylesheet" type="text/css" />
        <!-- App Css-->
        <link href="{% static 'assets/css/app.min.css' %}" id="app-style" rel="stylesheet" type="text/css" />

    </head>

    <body class="auth-body-bg">
        <div class="bg-overlay"></div>
        <div class="wrapper-page">
            <div class="container-fluid p-0">
                <div class="card">
                    <div class="card-body">
    
                        <div class="text-center mt-4">
                            <div class="mb-3">
                                <a href="{% url 'login' %}" class="auth-logo"/>
                                
                                    <img src="{% static 'assets/images/logo_pntp.png' %}" height="90" class="logo-dark mx-auto" alt="">

                                </a>
                            </div>
                        </div>
    
                        <h4 class="text-muted text-center font-size-18"><b>Nova Senha</b></h4>
    
                        <div class="p-3">

                            {% if validlink %}

                            <form class="form-horizontal mt-3" method="POST">
                                {% csrf_token %}
                                {{ form }}
                                <div class="form-group mb-3 text-center row mt-3 pt-1">
                                    <div class="col-12">
                                        <button class="btn btn-loader btn-info w-100 waves-effect waves-light" type="submit">Aletrar Senha</button>
                                    </div>
                                </div>
                            </form>

                            {% else %}

                            <p>O link de redefinição de senha é inválido, possivelmente porque já foi usado. Solicite uma nova redefinição de senha.</p>
    
                            {% endif %}
                            
                        </div>
                    </div>
                    <!-- end cardbody -->
                </div>
                <!-- end card -->
            </div>
            <!-- end container -->
        </div>
        <!-- end -->
        <script src="{% static 'js/botao_loader.js' %}"></script>
    </body>
</html>
