{% extends 'base.html' %}
{% load static %}

{% block 'title' %}Add Questionários{% endblock 'title' %}

{% block 'head' %}

        <link href="{% static 'assets/libs/select2/css/select2.min.css' %}" rel="stylesheet" type="text/css">

        <!-- App Css-->
        <link href="{% static 'assets/css/app.min.css' %}" id="app-style" rel="stylesheet" type="text/css" />

{% endblock 'head' %}

{% block 'body' %}

<div class="row">
    <div class="col-lg-3">
    </div>
    <div class="col-lg-6">
        <div class="card">
            <div class="card-body">
                <h2 class="card-title">Unidade Gestora e Site</h2>
                <p class="card-title-desc">Por favor, selecione a Unidade Gestora que deseja avaliar e informe se esta possui site.</p>
                <div>
                    <div>
                        <form action="" method="post">
                            {% csrf_token %}
                            <div class="mb-3">
                                <label>Selecione a Unidade Gestora avaliada</label>
                                <div>
                                    <select name="entidade" class="form-select select2 form-control-lg" Required>
                                        <option selected disabled value="">Selecione</option>
                                        {% for e in entidades %}
                                            <option value="{{e.id}}">{{e.entidade_uf}}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                            </div>
                            <div class="mb-3">
                                <label>Esta Unidade Gestora possui site oficial?</label>
                                <div>
                                    <select name="site" class="form-select form-control-lg" Required>
                                        <option selected disabled value="">Selecione</option>
                                        <option value="S">Sim</option>
                                        <option value="N">Não</option>
                                    </select>
                                </div>
                            </div>
                            <div class="text-center mt-4">
                                <button type="submit" class="btn btn-loader btn-success btn-lg w-100 waves-effect waves-light">Iniciar avaliação</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div> 
    </div>
    <!-- end col -->
</div>

{% block 'script' %}

        <script src="{% static  'assets/libs/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
        <script src="{% static 'assets/libs/select2/js/select2.min.js' %}"></script>
        <script src="{% static 'assets/js/pages/form-advanced.init.js' %}"></script>

        <script src="{% static 'js/botao_loader.js' %}"></script>

{% endblock 'script' %}

{% endblock %}