{% extends 'base.html' %}
{% load static %}
{% load i18n %}

{% block 'title' %}Add Resposta Questionários{% endblock 'title' %}

{% block 'head' %}

        <link href="{% static 'stepform/css/jquery.steps.css' %}" rel="stylesheet">
        <link href="{% static 'stepform/css/main.css' %}" rel="stylesheet">
        <style>white-space: pre-wrap;</style>

{% endblock 'head' %}


{% block 'body' %}

{% if messages %}
    {% for message in messages  %}
        <div class="alert {{message.tags}} alert-dismissible fade show" role="alert">
            <i class="mdi mdi-bullseye-arrow me-2"></i>
            {{message}}
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
    {% endfor %}
{% endif %}

<div class="row">
    <div class="col-xl-12">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title mb-4">Formulário de <strong>AVALIAÇÃO: </strong><i>{{ q.entidade }}</i></h4>
                
                <form id="my-form" method="post" enctype="multipart/form-data">
                    {% csrf_token %}
                    <div>
                        {% for u in questionario %}
                        {% ifchanged  %}
                        <h3>{{ u.dimensao }}</h3>
                        <section>
                            <div class="table-responsive">
                                <table class="table table-striped align-middle mb-0">
                                    <thead>
                                        <tr>
                                            <th>Critério</th>
                                            <th class="w-25">Itens de Avaliação</th>
                                            <th class="w-25">Evidências</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {% for a in questionario %}
                                        {% if a.dimensao == u.dimensao %}
                                        <tr>
                                            <td>
                                                <p>
                                                    <a style="cursor: pointer;" data-bs-toggle="modal" data-bs-target="#CriterioInformação-{{a.id}}" data-toggle="tooltip" >
                                                    {{ a.criterio_texto }} <span class="badge bg-primary">{{ a.get_exigibilidade_display }}</span>
                                                    </a>
                                                
                                                    <!--Modal-->
                                                    {% include 'modal_descricao.html' %}
                                                    
                                                </p>
                                            </td>
                                            <td>
                                                {% for d in a.itens_avaliacao.all|slice:":1"  %}
                                                <div class="form-check form-switch" dir="ltr">
                                                    <input id="disponibilidade-{{a.id}}" type="checkbox" class="form-check-input" id="customSwitch-{{a.id}}-{{d.id}}" name="item_avaliacao-{{a.id}}-{{d.id}}">
                                                    <label class="form-check-label" for="customSwitch-{{a.id}}-{{d.id}}">{{ d.item_avaliacao }}</label>
                                                </div>
                                                {% endfor %}
                                                <script>
                                                    $(document).ready(function(){
                                                        var $activeBtn = document.getElementById('disponibilidade-{{a.id}}');
                                                        var $link = document.getElementById('link-{{a.id}}');
                                                        $('#disponibilidade-{{a.id}}').on('click',function() {
                                                        $("#box-{{a.id}}").toggle(this.checked);
                                                        $("#sub-{{a.id}}").toggle(this.checked);
                                                        if ($activeBtn.checked) {
                                                            $link.required = true;
                                                        } else{
                                                            $link.required = false;
                                                            $("#sub-{{a.id}} input[type=checkbox]").removeAttr("checked");
                                                            $('#link-{{a.id}}').val('');
                                                        }
                                                       });
                                                    });
                                                </script>
                                                <div id="sub-{{a.id}}" style="display:none">
                                                    {% for d in a.itens_avaliacao.all|slice:"1:"  %}
                                                    <div class="form-check form-switch" dir="ltr">
                                                        <input type="checkbox" class="form-check-input" id="customSwitch-{{a.id}}-{{d.id}}" name="item_avaliacao-{{a.id}}-{{d.id}}">
                                                        <label class="form-check-label" for="customSwitch-{{a.id}}-{{d.id}}">{{ d.item_avaliacao }}</label>
                                                    </div>
                                                    {% endfor %}
                                                </div>
                                            </td>
                                            <td>
                                                {% for d in a.itens_avaliacao.all|slice:":1" %}
                                                <div id="box-{{a.id}}" class='input-group' style="display:none">
                                                    <div class="mb-3">
                                                        <label for="link-{{a.id}}" class="form-label">Links</label>
                                                        <textarea id="link-{{a.id}}" class="form-control" rows="3" cols="200" name="link-{{a.id}}" placeholder="Insira um link por linha."></textarea>
                                                    </div>
                                                </div>
                                                <div class="mb-3">
                                                    <label class="form-label">Justificativa</label>
                                                    <textarea rows="3" cols="200" class="form-control" name="justificativa-{{a.id}}-{{d.id}}" placeholder="Justifique aqui."></textarea>
                                                </div>
                                                <div class="mb-3">
                                                    <label for="imagem" class="form-label">Imagem</label>
                                                    <input type="file" id="imagem" class="form-control-sm" name="imagem-{{a.id}}-{{d.id}}" multiple accept="image/png, image/jpeg" >
                                                    <span class="text-muted font-size-10">Arquivos suportdados: JPEG, PNG</span>
                                                </div>
                                                {% endfor %}                                              
                                            </td>
                                        </tr>
                                        {% endif %}
                                        {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </section>
                        {% endifchanged %}
                        {% endfor %}

                        <h3>Conclusão</h3>
                        <section>
                            <div class="row justify-content-center">
                                <div class="col-lg-6">
                                    <div class="text-center">
                                        <div class="mb-4">
                                            <i class="mdi mdi-check-circle-outline text-success display-4"></i>
                                        </div>
                                        <div>
                                            <h5>Quase lá, {{ user.first_name }}!</h5>
                                            <p class="text-muted">Confirme os dados antes de enviar. Lembrando que após o envio, as respostas ainda poderão ser editadas por você.</p>
                                        </div>
                                        <input id="acceptTerms" name="acceptTerms" type="checkbox" class="required"> <label for="acceptTerms">Eu confirmo as informações.</label>
                                    </div>
                                </div>
                            </div>
                        </section>
                    </div>
                    <button class="btn btn-loader btn-success" type="submit">Salvar e continuar depois</button>

                </form>
            </div>
        </div>
    <div>
</div> <!-- row end -->

{% block 'script' %}

        <script src="{% static 'js/botao_loader.js' %}"></script>

        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.5/jquery.validate.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-steps/1.1.0/jquery.steps.min.js"></script>
        <script src="{% static 'stepform/js/script.js' %}"></script>

{% endblock 'script' %}

{% endblock 'body' %}
