{% load widget_tweaks %}

<form  method="post" id="tramitacaoForm" data-motivos-url="{% url 'ajax_load_motivos' %}">
    {% csrf_token %}
    <div id="tramitacao-{{q.id}}" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">Tramitação</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                            <input type="hidden" value={{q.id}} name="id_questionario" >
                            <div class="mb-3">
                                <label for="{{ form.setor.id_for_label }}">Destino</label>
                                <select name="setor" id='setor_id' required class="form-select">
                                    <option selected disabled value="">Selecione</option>
                                    {% for setor in setores %}
                                        {% if setor.0 != q.tramitacao_set.all.first.setor %}
                                            {% if q.tramitacao_set.all.first.setor == 'C' %}
                                                {% if setor.0 != 'A' %}
                                                    <option value="{{setor.0}}">{{setor.1}}</option>
                                                {% endif %}
                                            {% endif %}
                                            {% if q.tramitacao_set.all.first.setor == 'T' %}
                                                {% if q.status == 'V' %}
                                                    {% if setor.0 != 'C' %}
                                                        <option value="{{setor.0}}">{{setor.1}}</option>
                                                    {% endif %}
                                                {% else %}
                                                    <option value="{{setor.0}}">{{setor.1}}</option>
                                                {% endif %}
                                            {% endif %}
                                        {% endif %}
                                    {% endfor %}
                                </select>
                            </div>
                            <div class="mb-3">
                                <label for="{{ form.motivo.id_for_label }}">Motivo</label>
                                <select name="motivo" id='motivo_id' required class="form-select">
                                    <option selected disabled value="">Selecione</option>
                                </select>
                            </div>
                            <div class="mb-3">
                                <label for="{{ form.observacao.id_for_label }}">Observação</label>
                                {% render_field form.observacao class="form-control" %}
                            </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-light waves-effect" data-bs-dismiss="modal">Fechar</button>
                        <button type="submit" class="btn btn-loader btn-info waves-effect">Tramitar</button>
                    </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->
</form>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>

<script>
    $("#setor_id").change(function () {
      var url = $("#tramitacaoForm").attr("data-motivos-url");  
      var setorId = $(this).val();  
      $.ajax({                      
        url: url,               
        data: {
          'setor': setorId       
        },
        success: function (data) {  
            console.log(data)
          $("#motivo_id").html(data);  
        }
      });
    });
  </script>