{% extends 'base.html' %}
{% load static %}

{% block 'title' %}Edição Questionário{% endblock 'title' %}

{% block 'head' %}

        <link href="{% static 'stepform/css/jquery.steps.css' %}" rel="stylesheet">
        <link href="{% static 'stepform/css/main.css' %}" rel="stylesheet">
        <!-- Lightbox css -->
        <link href="{% static 'assets/libs/magnific-popup/magnific-popup.css' %}" rel="stylesheet" type="text/css" />

        <style>white-space: pre-wrap;</style>
{% endblock 'head' %}


{% block 'body' %}

{% if messages %}
    {% for message in messages  %}
        <div class="alert {{message.tags}} alert-dismissible fade show" role="alert">
            <i class="mdi mdi-bullseye-arrow me-2"></i>
            {{message}}
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
    {% endfor %}
{% endif %}

<div class="row">
    <div class="col-xl-12">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title mb-4">Formulário de <strong>AVALIAÇÃO: </strong><i>{{ questionario.entidade }}</i></h4>
                
                <form id="my-form" method="post" enctype="multipart/form-data">
                    {% csrf_token %}
                    <div>
                        {% for u in questionario.avaliacao.criterio_set.all  %}
                        {% ifchanged  %}
                        <h3>{{ u.dimensao }}</h3>
                        <section>
                            <div class="table-responsive">
                                <table class="table table-striped mb-0">
                                    <thead>
                                        <tr>
                                            <th># Critério</th>
                                            <th class="w-25">Itens de Avaliação</th>
                                            <th class="w-25">Evidências</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {% for a in questionario.avaliacao.criterio_set.all %}
                                        {% if a.dimensao == u.dimensao %}
                                        <tr>
                                            <td class="align-middle">
                                                <p>
                                                    <a style="cursor: pointer;" data-bs-toggle="modal" data-bs-target="#CriterioInformação-{{a.id}}" data-toggle="tooltip" >
                                                    {{ a.criterio_texto }} <span class="badge bg-primary">{{ a.get_exigibilidade_display }}</span>
                                                    </a>
                                                
                                                    <!--Modal-->
                                                    {% include 'modal_descricao.html' %}

                                                </p>
                                            </td>
                                            <td class="align-middle">
                                                {% for d in a.criterioitem_set.all %}
                                                {% for r in d.resposta_set.all %}
                                                {% if r.questionario.id == questionario.id %}
                                                <input class="hidden" name="id_resposta-{{ r.id }}" value="{{ r.id }}">
                                                <div id="disponibilidade" class="form-check form-switch" dir="ltr">
                                                    <input type="checkbox" class="form-check-input" id="customSwitch-{{a.id}}-{{d.id}}" 
                                                        name="resposta-{{r.id }}" 
                                                        {% if r.resposta == True %}
                                                            checked
                                                        {% endif %}
                                                    >
                                                    <label class="form-check-label" for="customSwitch-{{a.id}}-{{d.id}}">{{ d.item_avaliacao }}</label>
                                                </div>
                                                {% endif %}
                                                {% endfor %}
                                                {% endfor %}
                                            </td>
                                            <td>
                                                <!--Faz o laço apenas no primeiro item da lista. Os links ficarão vinculados apenas no primeiro registro da lista de itens-->
                                                <div class='input-group'>
                                                    <div class="mb-3">
                                                        {% for d in a.itens_avaliacao.all|slice:":1" %}
                                                        {% for c in a.criterioitem_set.all|slice:":1" %}
                                                        {% for r in c.resposta_set.all %}
                                                        {% if r.questionario.id == questionario.id %}
                                                        {% if r.linkevidencia_set.all %}
                                                        {% for link in r.linkevidencia_set.all %}
                                                            <label for="links" class="form-label">Links</label>
                                                            <input class="hidden" name="id_link-{{r.id}}" value="{{link.id}}">
                                                            <textarea id="links" class="form-control" rows="4" cols="50" name="link-{{r.id}}">{{link.link}}</textarea>
                                                        {% endfor %}
                                                        {% else %}
                                                            <label for="links" class="form-label">Links</label>
                                                            <textarea id="links" class="form-control" rows="4" cols="50" name="link_novo-{{r.id}}" placeholder="Insira um link por linha."></textarea>
                                                        {% endif %}
                                                        {% endif %}
                                                        {% endfor %}
                                                        {% endfor %}
                                                        {% endfor %}
                                                    </div>
                                                </div>
                                                <div class='input-group'>
                                                    <div class="popup-gallery mt-2">
                                                        {% for d in a.itens_avaliacao.all|slice:":1" %}
                                                        {% for c in a.criterioitem_set.all|slice:":1" %}
                                                        {% for r in c.resposta_set.all %}
                                                        {% if r.questionario.id == questionario.id %}
                                                        {% if r.imagemevidencia_set.all %}
                                                        {% for img in r.imagemevidencia_set.all %}
                                                            <label for="imagem" class="form-label">Imagem</label>
                                                            <a  href="{{ img.imagem.url }}" title="{{ img.imagem }}">
                                                                <div class="img-fluid">
                                                                    <img src="{{ img.imagem.url }}" alt="img-1" width="100">
                                                                </div>
                                                            </a>
                                                            <spam>Substiuir imagem</spam>
                                                            <input class="hidden" name="id_imagem-{{r.id}}" value="{{img.id}}">
                                                            <input id="imagem" type="file" class="form-control-sm" name="imagem-{{r.id}}" >
                                                        {% endfor %}
                                                        {% else %}
                                                    </div>
                                                    <input class="hidden" name="id_imagem-{{r.id}}" value="{{img.id}}">
                                                    <div class='input-group'>
                                                        <label for="imagem" class="form-label">Imagem</label>
                                                        <input id="imagem" type="file" class="form-control-sm" name="imagem_novo-{{r.id}}" >
                                                    </div>
                                                    {% endif %}
                                                    {% endif %}
                                                    {% endfor %}
                                                    {% endfor %}
                                                    {% endfor %}
                                                </div>                                   
                                            </td>
                                        </tr>
                                        {% endif %}
                                        {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </section>
                        {% endifchanged %}
                        {% endfor %}

                        <h3>Conclusão</h3>
                        <section>
                            <div class="row justify-content-center">
                                <div class="col-lg-6">
                                    <div class="text-center">
                                        <div class="mb-4">
                                            <i class="mdi mdi-check-circle-outline text-success display-4"></i>
                                        </div>
                                        <div>
                                            <h5>Quase lá, {{ user.first_name }}!</h5>
                                            <p class="text-muted">Confirme os dados antes de enviar. Lembrando que após o envio, as respostas ainda poderão ser editadas por você.</p>
                                        </div>
                                        <input id="acceptTerms" name="acceptTerms" type="checkbox" class="required"> <label for="acceptTerms">Eu confirmo as informações.</label>
                                    </div>
                                </div>
                            </div>
                        </section>
                    </div>
                </form>
            </div>
        </div>
    <div>
</div> <!-- row end -->

{% block 'script' %}

        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.5/jquery.validate.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-steps/1.1.0/jquery.steps.min.js"></script>
        <script src="{% static 'stepform/js/script.js' %}"></script>
        <script src="{% static 'js/link_evidencia.js' %}"></script>
        <!-- Magnific Popup-->
        <script src="{% static 'assets/libs/magnific-popup/jquery.magnific-popup.min.js' %}"></script>
        <!-- lightbox init js-->
        <script src="{% static 'assets/js/pages/lightbox.init.js' %}"></script>

{% endblock 'script' %}

{% endblock 'body' %}
