{% extends 'base.html' %}
{% load static %}
{% load permission_tags %}

{% block 'title' %}Questionário{% endblock 'title' %}

{% block 'head' %}

        <!-- Lightbox css -->
        <link href="{% static 'assets/libs/magnific-popup/magnific-popup.css' %}" rel="stylesheet" type="text/css" />
        <link href="{% static 'css/app.css' %}" rel="stylesheet">

{% endblock 'head' %}

{% block 'body' %}

{% if messages %}
    {% for message in messages  %}
        <div class="alert {{message.tags}} alert-dismissible fade show" role="alert">
            <i class="mdi mdi-check-all me-2"></i>
            {{message}}
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
    {% endfor %}
{% endif %}

<div class="row">
    <div class="col-xl-4">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title mb-4">Tramitação</h4>
                <ol class="activity-feed">
                    {% for t in tramitacao %}
                    <li class="feed-item">
                        <div class="feed-item-list">
                            <span class="date">{{ t.created_at }}</span>
                            <h6>{{ t.get_setor_display }}</h6>
                            <span class="activity-text">{{ t.get_motivo_display }}</span>
                            <footer class="blockquote-footer font-size-12 m-0">
                                {{ t.usuario.first_name }}
                                {% if t.observacao %}
                                <i style="cursor: pointer;" data-bs-toggle="modal" data-bs-target="#Observacao-{{t.id}}" 
                                class="mdi mdi-comment-text font-size-18" data-toggle="tooltip" title="Observação"></i>
                                {% endif %}
                            </footer>
                           
                            <!--Modal-->
                            {% include 'modal_observacao.html' %}

                        </div>
                    </li>
                    {% endfor %}
                </ol>
                {% if q.tramitacao_set.all.first.setor == user.setor %}
                {% if q.status == 'F' or  q.status == 'V' or  q.status == 'EV' %}
                <a type="button" class="btn btn-success waves-effect waves-light" data-bs-toggle="modal" data-bs-target="#tramitacao-{{q.id}}" 
                    data-toggle="tooltip" title="Tramitar">
                    Tramitar <i class="mdi mdi-arrow-right-circle"></i>
                </a>
                {% endif %}
                {% endif %}

                <!--Modal-->
                {% include 'modal_tramitacao.html' %}
            </div>
        </div>
    </div>

    <div class="col-xl-8">
        {% if q.resposta_set.all %}
            {% if q.tramitacao_set.all.first.setor == user.setor %}
                {% if q.usuario == user %}
                    <a href="{% url 'change_resposta' q.id %}" class="btn btn-primary d-inline" type="button" >
                        <i class="mdi mdi-pencil"></i> Editar Questionário
                    </a>
                {% endif %}
            {% endif %}
        {% endif %}

        {% if q.validacao.respostavalidacao_set.all  %}
            {% if q.tramitacao_set.all.first.setor == user.setor %}
                {% if q.validacao.usuario == user or user|has_role:'coordenadores'%}
                    <a href="{% url 'change_resposta_validacao' q.validacao.id %}" class="btn btn-info d-inline" type="button" >
                        <i class="mdi mdi-pencil"></i> Editar Validação
                    </a>
                {% endif %}
            {% endif %}
        {% endif %}

        <div class="dropdown d-inline">
            <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-bs-toggle="dropdown" aria-expanded="false">
                Exportar <i class="mdi mdi-chevron-down"></i>
            </button>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                <a class="dropdown-item" href="{% url 'exporta_csv' q.id %}">CSV</a>
            </div>
        </div>

        <div class="card mt-3">
            <div class="card-body">
                <h4 class="card-title mb-4"><strong>ID: </strong><i>{{ q.id }}/{{ q.avaliacao.ano_exercicio }}</i></h4>
                <h4 class="card-title mb-4"><strong>AVALIAÇÃO: </strong><i>{{ q.entidade }}</i></h4>
                <h5 class="card-title mb-4"><strong>Avaliado por: </strong><i>{{ q.usuario.nome_completo }} ({{q.usuario.get_funcao_display}}) - {{ q.indice }} ({{ q.nivel }})</i></h5>
                <h5 class="card-title mb-4"><strong>Validado por:</strong><i> {{ q.validacao.usuario.nome_completo }} ({{q.validacao.usuario.get_funcao_display}}) - {{ q.validacao.indice }} ({{ q.validacao.nivel }})</i></h5>
            </div>
        </div>
    </div>
</div>


{% block 'script' %}

        <!-- Magnific Popup-->
        <script src="{% static 'assets/libs/magnific-popup/jquery.magnific-popup.min.js' %}"></script>
        <!-- lightbox init js-->
        <script src="{% static 'assets/js/pages/lightbox.init.js' %}"></script>

{% endblock 'script' %}

{% endblock 'body' %}
