{% extends 'base.html' %}
{% load static %}
{% load permission_tags %}

{% block 'title' %}Questionário{% endblock 'title' %}

{% block 'head' %}

        <!-- Lightbox css -->
        <link href="{% static 'assets/libs/magnific-popup/magnific-popup.css' %}" rel="stylesheet" type="text/css" />
        <link href="{% static 'css/app.css' %}" rel="stylesheet">

{% endblock 'head' %}

{% block 'body' %}


{% block 'script' %}

        <!-- Magnific Popup-->
        <script src="{% static 'assets/libs/magnific-popup/jquery.magnific-popup.min.js' %}"></script>
        <!-- lightbox init js-->
        <script src="{% static 'assets/js/pages/lightbox.init.js' %}"></script>

{% endblock 'script' %}

{% endblock 'body' %}
