{% extends 'base.html' %}
{% load static %}

{% block 'title' %}Minhas Avaliações{% endblock 'title' %}


{% block 'head' %}

        <!-- Sweet Alert-->
        <link href="{% static 'assets/libs/sweetalert2/sweetalert2.min.css' %}" rel="stylesheet" type="text/css" />

{% endblock 'head' %}


{% block 'body' %}

{% if messages %}
    {% for message in messages  %}
        <div class="alert {{message.tags}} alert-dismissible fade show" role="alert">
            <i class="mdi mdi-check-all me-2"></i>
            {{message}}
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
    {% endfor %}
{% endif %}

<!-- start page title -->
<div class="row">
    <div class="col-12">
        <div class="page-title-box d-sm-flex align-items-center justify-content-between">
            <h4 class="mb-sm-0">Minhas Avaliações ({{questionarios.count}})</h4>
        </div>
    </div>
</div>
<!-- end page title -->

<div class="row">
    <div class="col-xl-12">
        <div class="card">
            <div class="card-body">
                {% if questionarios %}
                    <div class="table-responsive">
                        <table class="table table-centered mb-0 align-middle table-hover table-nowrap table-responsive">
                            <thead class="table-light">
                                <tr>
                                    <th>ID</th>
                                    <th>Unidade Gestora</th>
                                    <th>Status</th>
                                    <th>Setor Atual</th>
                                    <th>Data Envio</th>
                                    <th>Essencias</th>
                                    <th>Índice</th>
                                    <th>Nível</th>
                                    <th>Ação</th>
                                </tr>
                            </thead><!-- end thead -->
                            <tbody>
                                {% for q in questionarios %}
                                <tr>
                                    <td>{{ q.id }}/{{ q.avaliacao.ano_exercicio}}</td>
                                    <td>
                                        <a href="{% url 'view_questionario' q.id %}">
                                            <h6 class="mb-0">{{ q.entidade }}</h6>
                                            <footer class="blockquote-footer font-size-12 m-0">{{ q.avaliacao }}</footer>
                                        </a>
                                    </td>
                                    <td>
                                        <i class="ri-checkbox-blank-circle-fill font-size-10
                                        {% if q.status == 'I' %} 
                                            text-primary
                                        {% elif q.status == 'F' %}
                                            text-success
                                        {% elif q.status == 'E' %}
                                            text-warning
                                        {% elif q.status == 'EV' %}
                                            text-warning
                                        {% elif q.status == 'A' %}
                                            text-secondary
                                        {% elif q.status == 'NS' %}
                                            text-danger
                                        {% elif q.status == 'V' %}
                                            text-info
                                        {% endif %}
                                        align-middle me-1">
                                        </i>{{ q.get_status_display }}
                                    </td>
                                    <td>
                                        {% if q.tramitacao_set.all.first.setor == user.funcao %}
                                            <span class="badge 
                                            {% if q.status == 'I'  %} 
                                                bg-primary
                                            {% elif q.status == 'F' %}
                                                bg-success
                                            {% elif q.status == 'E' %}
                                                bg-warning
                                            {% elif q.status == 'EV' %}
                                                bg-warning
                                            {% elif q.status == 'A' %}
                                                bg-secondary
                                            {% elif q.status == 'NS' %}
                                                bg-danger
                                            {% elif q.status == 'V' %}
                                                bg-info
                                            {% endif %}
                                            font-size-13">{{ q.tramitacao_set.all.first.get_setor_display }}
                                            </span>
                                        {% else %}
                                            {{ q.tramitacao_set.all.first.get_setor_display }}
                                        {% endif %}
                                    </td>
                                    <td>{{ q.created_at|date:'d/m/Y H:i' }}</td>
                                    <td>{{ q.percentual_atendido_essenciais }} %</td>
                                    {% if q.validacao.nota %}
                                        <td>{{ q.validacao.nota }}</td>
                                    {% else %}
                                    <td>{{ q.nota }} % <i class="ri-error-warning-fill align-middle text-warning" data-bs-toggle="tooltip" data-bs-placement="top" title="Nota não validada"></i></td>
                                    {% endif %}
                                    <td>{{ q.classificacao }}</td>
                                    <td>
                                    {% if not q.resposta_set.all %}
                                        {% if not q.status == 'NS' %}
                                            <a href="{% url 'add_resposta' q.id %}" class="btn btn-primary waves-effect waves-light btn-sm" data-toggle="tooltip" title="Responder">
                                                <i class="mdi mdi-file-document-edit font-size-16"></i>
                                            </a>
                                        {% endif %}
                                    {% endif %}
                                    <a href="{% url 'view_questionario' q.id %}" class="btn btn-light waves-effect waves-light btn-sm" data-toggle="tooltip" title="Visualizar">
                                        <i class="mdi mdi-eye font-size-16"></i>
                                    </a>
                                    {% if q.tramitacao_set.all.first.setor == user.funcao %}
                                        <a onclick='delete_questionario({{q.id}})' class="btn btn-danger waves-effect waves-light btn-sm" data-toggle="tooltip" title="Excluir">
                                            <i class="mdi mdi-trash-can font-size-16"></i>
                                        </a>
                                    {% endif %}
                                    </td>
                                </tr>    
                                {% endfor %}
                            </tbody><!-- end tbody -->
                        </table> <!-- end table -->
                    </div> 
                {% else %}
                <div class="alert alert-primary" role="alert">
                    Nenhuma avaliação recebida até o momento.
                </div>
                {% endif %}
            </div><!-- end card -->
        </div><!-- end card -->
    </div>
    <!-- end col -->
</div>

{% block 'script' %}

        <!-- Sweet Alerts js -->
        <script src="{% static 'assets/libs/sweetalert2/sweetalert2.min.js' %}"></script>
        <!-- Sweet alert init js-->
        <script src="{% static 'sweetalert/js/script.js' %}"></script>

{% endblock 'script' %}

{% endblock 'body' %}