{% extends 'base.html' %}
{% load static %}

{% block 'title' %}Minhas Avaliações{% endblock 'title' %}


{% block 'head' %}

        <!-- Sweet Alert-->
        <link href="{% static 'assets/libs/sweetalert2/sweetalert2.min.css' %}" rel="stylesheet" type="text/css" />
        <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

{% endblock 'head' %}


{% block 'body' %}

<script>
    Swal.fire("Our First Alert");
</script>

{% if messages %}
    {% for message in messages  %}
        <div class="alert alert-info alert-dismissible fade show" role="alert">
            <i class="mdi mdi-check-all me-2"></i> {{ message }}
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
    {% endfor %}
    <script>
        $(document).ready(function() {
          function atualizarTask() {
            $.ajax({
                url: '/celery-progress/{{request.session.task_id}}',  // URL da view do Django que retorna os dados
              type: 'GET',
              success: function(response) {
                // Atualizar as informações específicas no frontend

                if (response.state == "FAILURE") {
                    $(`.task-{{request.session.id_questionario}}`).text('Falhou!');
                }
                if (response.state == "PENDING"){
                    $(`.task-{{request.session.id_questionario}}`).html("<span class='spinner-border spinner-border-sm' role='status' aria-hidden='true'></span>");
                    document.querySelector('.button-ask-{{request.session.id_questionario}}').disabled = true;
                    document.querySelector('.button-view-{{request.session.id_questionario}}').disabled = true;
                    document.querySelector('.button-delete-{{request.session.id_questionario}}').disabled = true;
                    document.querySelector('.link-{{request.session.id_questionario}}').removeAttribute("href");
                }
                if (response.state == "SUCCESS"){
                    $(`.task-{{request.session.id_questionario}}`).text(`Salvo com sucesso!`);
                    window.setTimeout( function(){ 
                        location.reload();
                    }, 1000 );
                }
                
              },
              error: function(xhr) {
                // Tratar erros, se houver algum
                console.log(xhr.responseText);
              },
            });
          }
    
          // Chamar a função para atualizar as informações inicialmente
          atualizarTask();
    
          // Agendar atualizações periódicas (por exemplo, a cada 1 segundo)
          setInterval(atualizarTask, 1000);
        });
      </script>
{% endif %}

<!-- start page title -->
<div class="row">
    <div class="col-12">
        <div class="page-title-box d-sm-flex align-items-center justify-content-between">
            <h4 class="mb-sm-0">Minhas Avaliações ({{questionarios.count}})</h4>
        </div>
    </div>
</div>
<!-- end page title -->

<div class="row">
    <div class="col-xl-12">
        <div class="card">
            <div class="card-body">
                {% if questionarios %}
                    <div class="table-responsive">
                        <table class="table table-centered mb-0 align-middle table-hover table-nowrap table-responsive">
                            <thead class="table-light">
                                <tr>
                                    <th>ID</th>
                                    <th>Unidade Gestora</th>
                                    <th>Status</th>
                                    <th>Setor Atual</th>
                                    <th>Data Envio</th>
                                    <th>Essencias</th>
                                    <th>Índice</th>
                                    <th>Nível</th>
                                    <th>Ação</th>
                                </tr>
                            </thead><!-- end thead -->
                            <tbody>
                                {% for q in questionarios %}
                                <tr>
                                    <td>{{ q.id }}/{{ q.avaliacao.ano_exercicio}}</td>
                                    <td>
                                        <a class="link-{{q.id}}" href="{% url 'view_questionario' q.id %}">
                                            <h6 class="mb-0">{{ q.entidade }}</h6>
                                            <footer class="blockquote-footer font-size-12 m-0">{{ q.avaliacao }}</footer>
                                        </a>
                                    </td>
                                    <td class="task-{{q.id}}">
                                        <i class="ri-checkbox-blank-circle-fill font-size-10
                                        {% if q.status == 'I' %} 
                                            text-primary
                                        {% elif q.status == 'F' %}
                                            text-success
                                        {% elif q.status == 'E' %}
                                            text-warning
                                        {% elif q.status == 'EV' %}
                                            text-warning
                                        {% elif q.status == 'A' %}
                                            text-secondary
                                        {% elif q.status == 'NS' %}
                                            text-danger
                                        {% elif q.status == 'V' %}
                                            text-info
                                        {% endif %}
                                        align-middle me-1">
                                        </i>{{ q.get_status_display }}
                                    </td>
                                    <td>
                                        {% if q.tramitacao_set.all.first.setor == user.setor %}
                                            <span class="badge 
                                            {% if q.status == 'I'  %} 
                                                bg-primary
                                            {% elif q.status == 'F' %}
                                                bg-success
                                            {% elif q.status == 'E' %}
                                                bg-warning
                                            {% elif q.status == 'EV' %}
                                                bg-warning
                                            {% elif q.status == 'A' %}
                                                bg-secondary
                                            {% elif q.status == 'NS' %}
                                                bg-danger
                                            {% elif q.status == 'V' %}
                                                bg-info
                                            {% endif %}
                                            font-size-13">{{ q.tramitacao_set.all.first.get_setor_display }}
                                            </span>
                                        {% else %}
                                            {{ q.tramitacao_set.all.first.get_setor_display }}
                                        {% endif %}
                                    </td>
                                    <td>{{ q.created_at|date:'d/m/Y H:i' }}</td>
                                    <td>{{ q.essenciais }} %</td>
                                    {% if q.validacao.nota %}
                                        <td>{{ q.validacao.nota }}</td>
                                    {% else %}
                                        <td>{{ q.indice }} % <i class="ri-error-warning-fill align-middle text-warning" data-bs-toggle="tooltip" data-bs-placement="top" title="Nota não validada"></i></td>
                                    {% endif %}
                                    <td>{{ q.nivel }}</td>
                                    <td>
                                    {% if not q.resposta_set.all %}
                                        {% if not q.status == 'NS' %}
                                            <button onclick="window.location.href='{% url 'add_resposta' q.id %}'" class="btn btn-primary waves-effect waves-light btn-sm button-ask-{{q.id}}" data-toggle="tooltip" title="Responder">
                                                <i class="mdi mdi-file-document-edit font-size-16"></i>
                                            </button>
                                        {% endif %}
                                    {% endif %}
                                    <button onclick="window.location.href='{% url 'view_questionario' q.id %}'" class="btn btn-light waves-effect waves-light btn-sm button-view-{{q.id}}" data-toggle="tooltip" title="Visualizar">
                                        <i class="mdi mdi-eye font-size-16"></i>
                                    </button>
                                    {% if q.tramitacao_set.all.first.setor == user.setor %}
                                        <button onclick='delete_questionario({{q.id}})' class="btn btn-danger waves-effect waves-light btn-sm button-delete-{{q.id}}" data-toggle="tooltip" title="Excluir">
                                            <i class="mdi mdi-trash-can font-size-16"></i>
                                        </button>
                                    {% endif %}
                                    </td>
                                </tr>
                                {% endfor %}
                            </tbody><!-- end tbody -->
                        </table> <!-- end table -->
                    </div> 
                {% else %}
                <div class="alert alert-primary" role="alert">
                    Nenhuma avaliação recebida até o momento.
                </div>
                {% endif %}
            </div><!-- end card -->
        </div><!-- end card -->
    </div>
    <!-- end col -->
</div>
<div id="status"></div>

{% block 'script' %}

        <!-- Sweet Alerts js -->
        <script src="{% static 'assets/libs/sweetalert2/sweetalert2.min.js' %}"></script>
        <!-- Sweet alert init js-->
        <script src="{% static 'sweetalert/js/script.js' %}"></script>

{% endblock 'script' %}

{% endblock 'body' %}