{% load widget_tweaks %}
{% load i18n static %}

<!doctype html>
<html lang="en">

    <head>
        
        <meta charset="utf-8" />
        <title>Cadatro de Usuário | Avalia</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta content="Sistema de Avaliação de Portais Transparência." name="description" />
        <meta content="William Gomes" name="author" />
        <!-- App favicon -->
        <link rel="shortcut icon" href="{% static 'assets/images/favicon.ico' %}">

        <link href="{% static 'assets/libs/select2/css/select2.min.css' %}" rel="stylesheet" type="text/css">

        <!-- Bootstrap Css -->
        <link href="{% static 'assets/css/bootstrap.min.css' %}" id="bootstrap-style" rel="stylesheet" type="text/css" />
        <!-- Icons Css -->
        <link href="{% static 'assets/css/icons.min.css' %}" rel="stylesheet" type="text/css" />
        <!-- App Css-->
        <link href="{% static 'assets/css/app.min.css' %}" id="app-style" rel="stylesheet" type="text/css" />
        <style>
            .errorlist
                {
                list-style: none;
                color: red;
                margin: 0px;
                padding: 0px;
                font-weight: bolder;
                }
        </style>  
    </head>

    <body class="auth-body-bg">
        <div class="bg-overlay"></div>
        <div class="wrapper-page">
            <div class="container-fluid p-0">
                <div class="card">
                    <div class="card-body">

                        <div class="text-center mt-4">
                            <div class="mb-3">
                                <a href="{% url 'login' %}" class="auth-logo"/>
                                    <img src="{% static 'assets/images/logo_pntp.png' %}" height="90" class="logo-dark mx-auto" alt="">
                                    <h4 class="text-muted text-center font-size-18"><b>Cadastro de Usuário</b></h4>
                                </a>
                            </div>
                        </div>

                    {% if messages %}
                        {% for message in messages  %}
                            <div class="alert {{message.tags}}">
                                {{message}}
                            </div>
                        {% endfor %}
                    {% endif %}

                    {% if form.errors and not form.non_field_errors %}
                    <div class="alert alert-danger">
                        {% if form.errors.items|length == 1 %}
                            Por favor, corrija o erro abaixo.
                        {% else %}
                            Por favor, corrija os erros abaixo.
                        {% endif %}
                    </div>
                    {% endif %}
            
                    {% if form.non_field_errors %}
                    {% for error in form.non_field_errors %}
                    <div class="alert {{message.tags}}">
                        {{ error }}
                    </div>
                    {% endfor %}
                    {% endif %}

                    <div id="content-main">
        
                        <div class="p-3">
                            <form class="form-horizontal mt-3" method="POST">
                                {% csrf_token %}
                                {{ form.media.js }}
                                <div class="form-group mb-3 row">
                                    <div class="col-12">
                                        {% render_field form.username class="form-control" placeholder="Usuário" %}
                                        {{ form.username.errors }}
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="mb-3">
                                            {% render_field form.first_name class="form-control" placeholder="Primeiro Nome" %}
                                            {{ form.first_name.errors }}
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="mb-3">
                                            {% render_field form.last_name class="form-control" placeholder="Último Nome" %}
                                            {{ form.last_name.errors }}
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="mb-3">
                                            {% render_field form.email class="form-control" placeholder="E-mail" %}
                                            {{ form.email.errors }}
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="mb-3">
                                            <input id="input-mask" name="celular" class="form-control input-mask" data-inputmask="'mask': '(99) 99999-9999'" placeholder="Celular">
                                            {{ form.celular.errors }}
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group mb-3 row">
                                    <div class="col-12">
                                        {% render_field form.municipio class="form-select select2" data-placeholder="Município"%}
                                        {{ form.municipio.errors }}
                                    </div>
                                </div>
                                <div class="form-group mb-3 row">
                                    <div class="col-12">
                                        {% render_field form.entidade class="select2 form-select select2-multiple" multiple="multiple" data-placeholder="Unidade Gestora" %}
                                        {{ form.entidade.errors }}
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="mb-3">
                                            {% render_field form.password1 class="form-control" placeholder="Senha" %}
                                            {{ form.password1.errors }}
                                            {% if form.new_password1.help_text %}
                                            <div class="help"{% if form.new_password1.id_for_label %} id="{{ form.new_password1.id_for_label }}_helptext"{% endif %}>{{ form.new_password1.help_text|safe }}</div>
                                            {% endif %}
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="mb-3">
                                            {% render_field form.password2 class="form-control" placeholder="Confirmação de senha" %}
                                            {{ form.password2.errors }}
                                            {% if form.new_password2.help_text %}
                                            <div class="help"{% if form.new_password2.id_for_label %} id="{{ form.new_password2.id_for_label }}_helptext"{% endif %}>{{ form.new_password2.help_text|safe }}</div>
                                            {% endif %}
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group mb-3 text-center row mt-3 pt-1">
                                    <div class="col-12">
                                        <button class="btn btn-info w-100 waves-effect waves-light" type="submit">Cadastrar</button>
                                    </div>
                                </div>
                            </form>
                            <div class="form-group mt-2 mb-0 row">
                                <div class="col-12 mt-3 text-center">
                                    <a href="{% url 'login' %}" class="text-muted">Já possui uma conta?</a>
                                </div>
                            </div>
                        </div>
                        <!-- end -->
                    </div>
                    <!-- end cardbody -->
                </div>
                <!-- end card -->
            </div>
            <!-- end container -->
        </div>
        <!-- end -->

        <script src="{% static  'assets/libs/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
        <script src="{% static 'assets/libs/select2/js/select2.min.js' %}"></script>
        <script src="{% static 'assets/js/pages/form-advanced.init.js' %}"></script>
        <!-- form mask -->
        <script src="{% static 'assets/libs/inputmask/jquery.inputmask.min.js' %}"></script>

        <!-- form mask init -->
        <script src="{% static 'assets/js/pages/form-mask.init.js' %}"></script>
    </body>
</html>
