{% extends 'base.html' %}
{% load i18n static %}
{% load widget_tweaks %}


{% block 'title' %}Editar Usuário{% endblock 'title' %}

{% block 'head' %}

        <link href="{% static 'assets/libs/select2/css/select2.min.css' %}" rel="stylesheet" type="text/css">


{% endblock 'head' %}


{% block 'body' %}
<div class="row">
        <div class="col-xl-12">
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title">Edição de Usuário</h4>
                    <form class="needs-validation" novalidate method="post">
                        {% csrf_token %}
                        {{ form.media.js }}
                        <div class="row">
                            <div class="col-md-4">
                                <div class="mb-3">
                                    <label for="validationCustom01" class="form-label">Primeiro Nome</label>
                                    {% render_field form.first_name class="form-control" id="validationCustom01" %}
                                    <div class="valid-feedback">
                                        Tudo certo!
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="mb-3">
                                    <label for="validationCustom02" class="form-label">Último Nome</label>
                                    {% render_field form.last_name class="form-control" id="validationCustom02" %}
                                    <div class="valid-feedback">
                                        Tudo certo!
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="mb-3 position-relative">
                                    <label for="validationTooltipUsername" class="form-label">Usuário</label>
                                    <div class="input-group">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text"
                                                id="validationTooltipUsernamePrepend">@</span>
                                        </div>
                                        {% render_field form.username|append_attr:"readonly:readonly" class="form-control" id="validationTooltipUsernamePrepend" %}
                                        <div class="invalid-tooltip">
                                            Please choose a unique and valid username.
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                                <div class="col-md-4">
                                    <div class="mb-3">
                                        <label for="validationCustom01" class="form-label">E-mail</label>
                                        {% render_field form.email class="form-control" id="validationCustom01" %}
                                        <div class="valid-feedback">
                                            Tudo certo!
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="mb-3">
                                        <label for="validationCustom02" class="form-label">Celular</label>
                                        {% render_field form.celular class="form-control" id="validationCustom02" %}
                                        <div class="valid-feedback">
                                            Tudo certo!
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="mb-3">
                                        <label for="validationCustom03" class="form-label">Cidade</label>
                                        {% render_field form.municipio class="form-select select2" %}
                                        <div class="invalid-feedback">
                                            Selecione uma cidade válida.
                                        </div>
                                    </div>
                                </div>
                            </div>
                        <div class="row">
                            <div class="col-md-4">
                                <div class="mb-3">
                                    <label for="validationCustom03" class="form-label">Função</label>
                                    {% render_field form.funcao class="form-select" %}
                                    <div class="invalid-feedback">
                                    Selecione uma cidade válida.
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="mb-3">
                                    <label for="validationCustom03" class="form-label">Setor</label>
                                    {% render_field form.setor class="form-select" %}
                                    <div class="invalid-feedback">
                                    Selecione um setor válido.
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="mb-3">
                                    <label for="validationCustom04" class="form-label">Unidade Gestora</label>
                                    {% render_field form.entidade class="form-select" multiple="multiple" %}
                                    <span class="text-muted font-size-10">Pressione “Control”, ou “Command” no Mac, para selecionar mais de um.</span>
                                    <div class="invalid-feedback">
                                        Selecione uma Unidade Gestora válida.
                                    </div>
                                </div>
                            </div>
                        <div>
                            <button class="btn btn-loader btn-primary" type="submit">Salvar</button>
                        </div>
                    </form>
                </div>
            </div>
            <!-- end card -->
        </div> <!-- end col -->
</div>

{% block 'script' %}

        <script src="{% static 'js/botao_loader.js' %}"></script>

        <script src="{% static 'assets/js/pages/form-advanced.init.js' %}"></script>
        <script src="{% static 'assets/libs/parsleyjs/parsley.min.js' %}"></script>
        <script src="{% static 'assets/js/pages/form-validation.init.js' %}"></script>
        <!-- form mask -->
        <script src="{% static 'assets/libs/inputmask/jquery.inputmask.min.js' %}"></script>

        <!-- form mask init -->
        <script src="{% static 'assets/js/pages/form-mask.init.js' %}"></script>

{% endblock 'script' %}

{% endblock 'body' %}
