{% extends 'base.html' %}
{% load static %}


{% block 'body' %}

{% if messages %}
    {% for message in messages  %}
        <div class="alert {{message.tags}} alert-dismissible fade show" role="alert">
            <i class="mdi mdi-check-all me-2"></i>
            {{message}}
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
    {% endfor %}
{% endif %}

<!-- start page title -->
<div class="row">
    <div class="col-12">
        <div class="page-title-box d-sm-flex align-items-center justify-content-between">
            <h4 class="mb-sm-0">Perfil</h4>
        </div>
    </div>
</div>
<!-- end page title -->

<div class="row">

    {% include "card_perfil.html" %}

    <div class="col-xl-8">
        <div class="card">
            <div class="card-body">
                <!-- Nav tabs -->
                <ul class="nav nav-tabs nav-tabs-custom nav-justified" role="tablist">
                    <li class="nav-item">
                        <a class="nav-link active" data-bs-toggle="tab" href="#home1" role="tab">
                            <span class="d-block d-sm-none"><i class="fas fa-home"></i></span>
                            <span class="d-none d-sm-block">Dados do Usuário</span> 
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" data-bs-toggle="tab" href="#profile1" role="tab">
                            <span class="d-block d-sm-none"><i class="far fa-user"></i></span>
                            <span class="d-none d-sm-block">Segurança</span> 
                        </a>
                    </li>
                </ul>

                <!-- Tab panes -->
                <div class="tab-content p-3 text-muted">
                    <div class="tab-pane active" id="home1" role="tabpanel">
                        <form method="post" class="needs-validation" novalidate>
                            {% csrf_token %}
                            <div class="row">
                                <div class="col-md-4">
                                    <div class="mb-3">
                                        <label for="validationCustom01" class="form-label">Primeiro nome</label>
                                        <input type="text" class="form-control" id="validationCustom01" name="first_name"
                                            placeholder="Primeiro nome" value="{{ user.first_name }}" required>
                                        <div class="valid-feedback">
                                            Tudo certo!
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="mb-3">
                                        <label for="validationCustom02" class="form-label">Último nome</label>
                                        <input type="text" class="form-control" id="validationCustom01" name="last_name"
                                            placeholder="Último nome" value="{{ user.last_name }}" required>
                                        <div class="valid-feedback">
                                            Tudo certo!
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="mb-3 position-relative">
                                        <label for="validationTooltipUsername" class="form-label">Usuário</label>
                                        <div class="input-group">
                                            <div class="input-group-prepend">
                                                <span class="input-group-text"
                                                    id="validationTooltipUsernamePrepend">@</span>
                                            </div>
                                            <input type="text" class="form-control" id="validationTooltipUsername"
                                                placeholder="Usuário" value="{{ user.username }}" disabled
                                                aria-describedby="validationTooltipUsernamePrepend" required>
                                            <div class="invalid-tooltip">
                                                Please choose a unique and valid username.
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="mb-3">
                                        <label for="validationCustom03" class="form-label">Função</label>
                                        <select class="form-select" id="validationCustom03" disabled required>
                                            <option selected value="">{{user.get_funcao_display}}</option>
                                        </select>
                                        <div class="invalid-feedback">
                                            Please select a valid state.
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="mb-3">
                                        <label for="validationCustom03" class="form-label">Cidade</label>
                                        <select class="form-select" id="validationCustom03" disabled required>
                                            <option selected value="">{{user.municipio.municipio_uf}}</option>
                                        </select>
                                        <div class="invalid-feedback">
                                            Please select a valid state.
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="mb-3">
                                        <label>Unidad{{request.user.entidade.all|pluralize:"e,es"}} Gestor{{request.user.entidade.all|pluralize:"a,as"}}</label>
                                        <textarea required="" class="form-control" rows="5" cols="50" disabled name="unidade_gestora">{% for e in request.user.entidade.all %}{{e}}  
{% endfor %}</textarea>
                                        <div class="valid-feedback">
                                            Tudo certo!
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="mb-3">
                                        <label>E-mail</label>
                                        <input type="email" class="form-control" required name="email"
                                            parsley-type="email" value="{{ user.email }}" placeholder="Insira um e-mail válido"/>
                                        <div class="valid-feedback">
                                            Tudo certo!
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div>
                                <button class="btn btn-primary" type="submit">Salvar</button>
                            </div>
                        </form>
                    </div>
                    <div class="tab-pane" id="profile1" role="tabpanel">
                        <div class="col-md-4">
                            <div class="mb-3">
                                <label for="validationCustom02" class="form-label">Senha</label>
                                <input type="password" class="form-control" id="validationCustom01" name="password"
                                    placeholder="Último nome" value="{{ user.password }}" disabled required>
                                <div class="valid-feedback">
                                    Tudo certo!
                                </div>
                            </div>
                        </div>
                        <div class="mt-4">
                            <a href="{% url 'password_change' %}" class="btn btn-outline-primary waves-effect waves-light" data-toggle="tooltip" title="Editar foto">
                                <i class="ri-lock-password-fill align-middle me-1"></i>Alterar senha
                            </a>
                        </div>
                    </div>
                </div>                
            </div>
        </div>
        <!-- end card -->
    </div> <!-- end col -->
</div>

{% block 'script' %}

        <script src="{% static 'assets/libs/parsleyjs/parsley.min.js' %}"></script>
        <script src="{% static 'assets/js/pages/form-validation.init.js' %}"></script>

{% endblock 'script' %}

{% endblock %}