{% extends 'base.html' %}
{% load i18n static %}

{% block 'title' %}Usuários{% endblock 'title' %}

{% block 'head' %}

        <!-- DataTables -->
        <link href="{% static 'assets/libs/datatables.net-bs4/css/dataTables.bootstrap4.min.css' %}" rel="stylesheet" type="text/css" />
        <link href="{% static 'assets/libs/datatables.net-buttons-bs4/css/buttons.bootstrap4.min.css' %}" rel="stylesheet" type="text/css" />
        <link href="{% static 'assets/libs/datatables.net-select-bs4/css//select.bootstrap4.min.css' %}" rel="stylesheet" type="text/css" />

        <!-- Responsive datatable examples -->
        <link href="{% static 'assets/libs/datatables.net-responsive-bs4/css/responsive.bootstrap4.min.css' %}" rel="stylesheet" type="text/css" />  

{% endblock 'head' %}


{% block 'body' %}

{% if messages %}
    {% for message in messages  %}
        <div class="alert {{message.tags}} alert-dismissible fade show" role="alert">
            <i class="mdi mdi-check-all me-2"></i>
            {{message}}
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
    {% endfor %}
{% endif %}

<!-- start page title -->
<div class="row">
    <div class="col-12">
        <div class="page-title-box d-sm-flex align-items-center justify-content-between">
            <h4 class="mb-sm-0">Usuários ({{users.count}})</h4>
        </div>
    </div>
</div>
<!-- end page title -->

<div class="row">
    <div class="col-xl-12">
        <div class="card">
            <div class="card-body">
                {% if users %}
                    <div class="table-responsive">
                        <table class="table table-centered mb-0 align-middle table-hover table-nowrap table-responsive datatable">
                            <thead class="table-light">
                                <tr>
                                    <th>ID</th>
                                    <th>Nome</th>
                                    <th>Usuário</th>
                                    <th>Cidade</th>
                                    <th>Função</th>
                                    <th>Setor</th>
                                    <th>Status</th>
                                    <th>Ação</th>
                                </tr>
                            </thead><!-- end thead -->
                            <tbody>
                                {% for q in users %}
                                <tr>
                                    <td>{{ q.id }}</td>
                                    <td>
                                        <div>
                                            {% if q.foto %}
                                                <img class="img-thumbnail rounded-circle avatar-sm me-2" alt="200x200" src="{{ q.foto.url }}" data-holder-rendered="true">
                                            {% else %}
                                                <img class="img-thumbnail rounded-circle avatar-sm me-2" alt="200x200" src="{% static 'img/perfil.png'%}" data-holder-rendered="true">
                                            {% endif %}
                                            {{ q.nome_completo }}
                                            {% if q.is_superuser %}
                                                <i class="mdi mdi-check-decagram text-primary" title="Atricon"></i>
                                            {% endif %}
                                            {% if q.funcao == 'C' %}
                                                <i class="mdi mdi-check-decagram text-warning" title="Coordenador"></i>
                                            {% endif %}
                                            {% if q.funcao == 'V' %}
                                                <i class="mdi mdi-check-decagram text-secondary" title="Validador"></i>
                                            {% endif %}
                                        </div>
                                    </td>
                                    <td>{{ q.username }}</td>
                                    <td>{{ q.municipio }}</td>
                                    <td>{{ q.get_funcao_display }}</td>
                                    <td>{{ q.get_setor_display }}</td>
                                    <td>
                                        {% if q.is_active %}
                                            <i class="mdi mdi-check-circle text-success" data-toggle="tooltip" title="Ativo"></i>
                                        {% else %}
                                            <i class="mdi mdi-close-circle text-danger" data-toggle="tooltip" title="Inativo"></i>
                                        {% endif %}
                                    </td>
                                    <td style="width: 100px">
                                        <a href="{% url 'change_usuario' q.id %}" class="btn btn-outline-secondary btn-sm edit" title="Editar">
                                            <i class="fas fa-pencil-alt"></i>
                                        </a>
                                    </td>
                                </tr>    
                                {% endfor %}
                            </tbody><!-- end tbody -->
                        </table> <!-- end table -->
                    </div> 
                {% else %}
                <div class="alert alert-primary" role="alert">
                    Nenhuma avaliação recebida até o momento.
                </div>
                {% endif %}
            </div><!-- end card -->
        </div><!-- end card -->
    </div>
    <!-- end col -->
</div>

{% block 'script' %}

        <!-- Required datatable js -->
        <script src="{% static 'assets/libs/datatables.net/js/jquery.dataTables.min.js' %}"></script>
        <script src="{% static 'assets/libs/datatables.net-bs4/js/dataTables.bootstrap4.min.js' %}"></script>
                <!-- Datatable init js -->
                <script src="{% static 'assets/js/pages/datatables.init.js' %}"></script>

{% endblock 'script' %}

{% endblock 'body' %}
