{% if questionarios_setor %}
<div class="table-responsive">
    <table class="table table-centered mb-0 align-middle table-hover table-nowrap table-responsive">
        <thead class="table-light">
            <tr>
                <th>
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" onclick="selecionarCheckboxesPorGrupo('.check_atribuir')">
                    </div>
                </th>
                <th>ID</th>
                <th>Unidade Gestora</th>
                <th>Status</th>
                <th>Data Envio</th>
                <th>Nota</th>
            </tr>
        </thead><!-- end thead -->
        <tbody>
            {% for q in questionarios_setor %}
            <tr>
                <td>
                    <div class="form-check">
                        <input class="form-check-input check_atribuir" type="checkbox" name="formCheck1" value="{{ q.id }}">
                        <input type="hidden" value={{ q.id }} name="id_questionario" >
                    </div>
                </td>
                <td>{{ q.id }}/{{ q.avaliacao.ano_exercicio}}</td>
                <td>
                    <a href="{% url 'view_questionario' q.id %}">
                        <h6 class="mb-0">{{ q.entidade }}</h6>
                        <footer class="blockquote-footer font-size-12 m-0">{{ q.avaliacao }}</footer>
                    </a>
                </td>
                <td>
                    <span class="badge 
                    {% if q.status == 'I' %} 
                        bg-primary
                    {% elif q.status == 'F' %}
                        bg-success
                    {% elif q.status == 'E' %}
                        bg-warning
                    {% elif q.status == 'EV' %}
                        bg-warning
                    {% elif q.status == 'A' %}
                        bg-secondary
                    {% elif q.status == 'NS' %}
                        bg-danger
                    {% elif q.status == 'V' %}
                        bg-info
                    {% endif %}
                    font-size-12">{{ q.get_status_display }}
                    </span>
                </td>
                <td>{{ q.created_at|date:'d/m/Y H:i' }}</td>
                {% if q.validacao.nota %}
                    <td>{{ q.validacao.nota }}</td>
                {% else %}
                <td>{{ q.nota }}</td>
                {% endif %}

            </tr>
                <!-- end -->
            {% endfor %}
        </tbody><!-- end tbody -->
    </table> <!-- end table -->
</div>
{% else %}
<div class="alert alert-primary" role="alert">
    Não há avalições para atribuição no momento.
</div>
{% endif %}